In [4]:
Find the most frequently occurring character in a string.

s = "success"
d = {}
for ch in s:
    d[ch] = d.get(ch, 0) + 1
max_char = max(d, key=d.get)
print(max_char)

s

In [1]:
Count the number of vowels in a string and store the result in a dictionary.

s = "education"
vowels = "aeiou"
d = {}
for ch in s:
    if ch in vowels:
        d[ch] = d.get(ch, 0) + 1
print(d)

{'e': 1, 'u': 1, 'a': 1, 'i': 1, 'o': 1}

In [6]:
Remove duplicate elements from a list without using set().
lst = [1,2,2,3,4,4,5]
new = []
for i in lst:
    if i not in new:
        new.append(i)
print(new)

[1, 2, 3, 4, 5]

In [7]:

 Reverse a list without using built-in functions.
lst = [1,2,3,4]
rev = []
for i in lst[::-1]:
    rev.append(i)
print(rev)

[4, 3, 2, 1]

In [9]:
Find the 2nd largest and 2nd smallest element in a list.
lst = [10, 5, 20, 8, 15]
lst.sort()
print("2nd Smallest:", lst[1])
print("2nd Largest:", lst[-2])

2nd Smallest: 8
2nd Largest: 15

In [10]:
Store the square of each element of a list into a new list
lst = [1,2,3,4]
squares = []
for i in lst:
    squares.append(i*i)
print(squares)

[1, 4, 9, 16]

In [11]:
 Flatten a nested list into a single list.

nested = [[1,2],[3,4],[5,6]]
flat = []
for sub in nested:
    for i in sub:
        flat.append(i)
print(flat)

[1, 2, 3, 4, 5, 6]

In [12]:
 Concatenate two tuples and sort them.

t1 = (5,2,8)
t2 = (1,4,3)
t3 = t1 + t2
print(tuple(sorted(t3)))

(1, 2, 3, 4, 5, 8)

In [13]:
Remove a random element from a set (without using pop())
s = {1,2,3,4}
s.remove(3)
print(s)

{1, 2, 4}

In [14]:
 Convert a list into a set and check if duplicates are removed.

lst = [1,2,2,3,4,4,5]
s = set(lst)
print(s)

{1, 2, 3, 4, 5}

In [15]:
 Check if two sets are disjoint.
a = {1,2,3}
b = {4,5,6}
print(a.isdisjoint(b))

True

In [16]:
 Find the sum of all elements in a set.

s = {1,2,3,4}
total = 0
for i in s:
    total += i
print(total)

10

In [17]:
Merge two dictionaries into one.
d1 = {'a':1,'b':2}
d2 = {'c':3,'d':4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [18]:
 Reverse a tuple without using [::-1].

t = (1,2,3,4)
rev = tuple(reversed(t))
print(rev)

(4, 3, 2, 1)

In [19]:
 Extract unique elements from a tuple and store them in a new list.

t = (1,2,2,3,4,4,5)
unique = []
for i in t:
    if i not in unique:
        unique.append(i)
print(tuple(unique))

(1, 2, 3, 4, 5)